body {
    font-family: Arial;
    margin: 0;
}

.cont {
    border: 1px solid blue;
    background-color: #EEE;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 5fr;
}

.icon {
    width: 24px;
    fill: white;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 6;
    display: grid;
    grid-template: 1fr 9fr / 1fr;
    background-color: rgb(86, 155, 220);
    padding-left: 24px;
}

.sidebar .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.sidebar .title .dashboard-icon {
    width: 48px;
}

.sidebar .title .text {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.sidebar .links {
    display: grid;
    gap: 20px;
    height: 60%;
}

.sidebar .links ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding: 0;
}

.sidebar .links ul li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header {
    grid-row-start: 1;
    grid-row-end: 1;
}

.main {
    grid-row-start: 2;
    grid-row-end: 6;
}

