body {
    font-family: Arial;
    margin: 0;
}

.cont {
    border: 1px solid blue;
    background-color: #EEE;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 5fr;
}

.icon {
    width: 24px;
    fill: white;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 6;
    display: grid;
    grid-template: 1fr 9fr / 1fr;
    background-color: rgb(86, 155, 220);
    padding-left: 24px;
}

.sidebar .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.sidebar .title .dashboard-icon {
    width: 48px;
}

.sidebar .title .text {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.sidebar .links {
    display: grid;
    gap: 20px;
    height: 60%;
}

.sidebar .links ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding: 0;
}

.sidebar .links ul li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header {
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 12px;
    padding: 12px 24px 12px 24px;
    background-color: white;
}

.header .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.header .search > input {
    border: none;
    outline: none;
    border-radius: 12px;
    width: 65%;
    background-color: rgb(227, 238, 245);
    height: 24px;
    padding-left: 20px;
    color: grey;
}

.header .head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
}

.header .profile {
    display: grid;
    grid-template: 1fr 1fr / 1fr 9fr;
}

.header .profile .user-icon {
    width: 48px;
    grid-row: 1 / 3;
}

.header .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
}

.header .buttons > button {
    border: none;
    width: 30%;
    height: 28px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
}

.main {
    grid-row-start: 2;
    grid-row-end: 6;
}

